{
  "extends": "airbnb/legacy",
  "env": {
    "node": true
  },
  "rules": {
    "func-names": 0,
    "no-console": 0,
    "no-use-before-define": ["error", { "functions": false, "classes": true }]
  }
}
